* {
  font-family: sans-serif;
  text-align: center;
  color: white;
}

title {
  display: none;
}

body {
  background: black;
  margin: 0px;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 100px auto 100px;
  grid-template-areas: "hdr hdr";
                       "sdbr mn";
                       "ftr ftr";
}

header {
  background: yellow;
  grid-area: hdr;
}

aside {
  background: orange;
  grid-area: sdbr;
}

main {
  background: red;
  grid-area: mn;
}

footer {
  background: purple;
  grid-area: ftr;
}

h1 {
  color: red;
}
