* {
  font-family: "Arial Black";
  color: white;
}

nav {
  padding: 10px;
  background-color: black;
  color: white;
}

body {
  padding-left: 50px;
}

title {
  display: none;
}

h1 {
  color: red;
}
