* {
  font-family: "Arial Black";
  color: white;
}

body {
  padding-left: 50px;
}

title {
  display: none;
}

h1 {
  color: red;
}

#horizontalnavigation {
  background-color: black;
  display: block;
}

nav > a {
  color: white;
}
